    <div class="container-fluid">
        <div class="service-card" style="border: 1px solid green;">
            <div class="col-md-6 p-4 d-flex flex-column" style="border: 1px solid gray;">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Address</strong>
                    <span class="lead"><i class="fa fa-address-book service-icon" aria-hidden="true"></i>{{_userAddress}}</span>
                </div>
                <div class="col p-4 d-flex flex-column position-static"  style="border: 1px solid gray;">
                    <strong class="d-inline-block mb-2 text-primary">Lets Talk</strong>
                    <span class="lead"><i class="fa fa-phone service-icon" aria-hidden="true"></i>{{_userPhone}}</span>
                </div>
                <div class="col p-4 d-flex flex-column position-static" style="border: 1 px solid gray;">
                    <strong class="d-inline-block mb-2 text-success">Address</strong>
                    <span class="lead"><i class="fa fa-envelope service-icon" aria-hidden="true"></i>{{_userEmail}}</span>
                </div>
            </div>
        </div>
    </div>
