<div class="row d-flex vh-100 align-items-center" style="margin-bottom:-20px">
  <div class="col"></div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-body align-self-center" style="height: 700px">
        <app-Profile></app-Profile>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div style="min-height: 700px !important;background-color:#ffffff; height: 700px">
      <app-Nav></app-Nav>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col"></div>
  </div>
<div class="d-flex justify-content-center mb-10">
  <a class="bg-light text-black lead" href="https://github.com/AbdullahOztuurkk/DevPortfolio" target="blank" style="text-decoration: none; padding:1px; font-size: 11px; border: 1px solid black; border-radius: 2px;">
    <i class="fa fa-github" aria-hidden="true"></i>Fork us on Github
  </a>
</div>

