<div class="row mt-3">
    <div class="col">
      <div *ngFor="let item of _services;let indexElement=index">
        <div class="service-card " *ngIf="indexElement %2==0">
          <strong class="service-card-title">
            <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>{{item.serviceName}}
          </strong>
          <hr style="margin:3px !important;">
          <p class="mb-auto">{{item.description}}</p>
        </div>
      </div>
      <img src="../assets/images/Design_Thinking.svg" class="img-fluid service-image">
    </div>
    <div class="col">
      <div *ngFor="let item of _services;let indexElement=index">
        <div class="service-card" *ngIf="indexElement %2==1">
          <strong class="service-card-title">
            <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>{{item.serviceName}}
          </strong>
          <hr style="margin:3px !important;">
          <p class="mb-auto">{{item.description}}</p>
        </div>
      </div>
      <img src="../assets/images/Skill.svg" class="img-fluid service-image">
    </div>
</div>
